body
{
	background: rgb(206, 124, 124);
	text-align: center;
}

	.login_div1 , .login_div2
	{
		background: rgb(212, 85, 85);
		padding: 10px;
		float: none;
		border-radius: 15px;
		top: 50px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(173, 102, 102);
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
